<div>
  <ngx-digital-display number="0"></ngx-digital-display>
  <ngx-digital-display number="1"></ngx-digital-display>
  <ngx-digital-display number="2"></ngx-digital-display>
  <ngx-digital-display number="3"></ngx-digital-display>
  <ngx-digital-display number="4"></ngx-digital-display>
  <ngx-digital-display number="5"></ngx-digital-display>
  <ngx-digital-display number="6"></ngx-digital-display>
  <ngx-digital-display number="7"></ngx-digital-display>
  <ngx-digital-display number="8"></ngx-digital-display>
  <ngx-digital-display number="9"></ngx-digital-display>
</div>
